#bodyCump {
    background-color:rgba(222, 202, 191, 0.7);
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: auto 500px auto 100px;
    grid-template-areas: "navbar navbar navbar navbar"
                        "headerCump headerCump headerCump headerCump"
                         "mainCump mainCump mainCump mainCump"
                         "footer footer footer footer";
}
#navbar{
    grid-area: navbar;
}
#headerCump{
    grid-area: headerCump;
    background-image: url(/assets/img/photos-by-lanty-O38Id_cyV4M-unsplash\ \(2\).jpg);
    background-size: cover;
    background-attachment: fixed;
}
#mainCump{
    grid-area: mainCump;
}
#footer{
    grid-area: footer;
}
