#bodyCump {
    background-color:rgba(222, 202, 191, 0.7);
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: auto 500px auto 100px;
    grid-template-areas: "navbar navbar navbar navbar"
                        "headerCump headerCump headerCump headerCump"
                         "mainCump mainCump mainCump mainCump"
                         "footer footer footer footer";
}
#navbar{
    grid-area: navbar;
}
#headerCump{
    grid-area: headerCump;
    background-image: url(/assets/img/photos-by-lanty-O38Id_cyV4M-unsplash\ \(2\).jpg);
    background-size: cover;
    background-attachment: fixed;
}
#mainCump{
    grid-area: mainCump;
}
#footer{
    grid-area: footer;
}
.rectanguloImagenInf{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    margin: 0 auto;
    .imagenTextoDos{
        text-align: center;
        margin: 20px;
        .tituloImagenDos{
            font-family: Bebas Neue;
            font-size: 50px;
            padding: 15px;
            color: #fff;
        }
        .parrafoImagenDos{
            font-family: Bebas Neue;
            font-size: 30px;
            padding: 15px;
            color: #fff;
            list-style: none;
            li{
                padding-top: 20px;
            }
        }
        .imagenDosRecDos{
            img{
                max-width: 100%;
                height: auto;
            }
        }
    }
}
.rectanguloImagenAdu{
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(154,114,210);
    background: linear-gradient(90deg, rgba(154,114,210,1) 0%, rgba(154,114,210,1) 2%, rgba(88,68,166,1) 100%);
    margin: 0 auto;
    .imagenTextoDos{
        text-align: center;
        margin: 20px;
        .tituloImagenDos{
            font-family: Bebas Neue;
            font-size: 50px;
            padding: 15px;
            color: #fff;
        }
        .parrafoImagenDos{
            font-family: Bebas Neue;
            font-size: 30px;
            padding: 15px;
            color: #fff;
            list-style: none;
            li{
                padding-top: 20px;
            }
        }
        .imagenDosRecDos{
            img{
                max-width: 100%;
                height: auto;
            }
        }
    }
}