.footer {
    grid-area: footer;
    display: flex;
    align-items: flex-end;
    justify-content: end;
    .copy {
        font-size: 15px;
        display: flex;
        align-items: flex-end;
        align-content: flex-end;
        justify-content: end;
    }    
}