#body {
    background-color:rgba(222, 202, 191, 0.7);
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: auto 600px auto auto;
    grid-template-areas: "navbar navbar navbar navbar"
                         "header header header header"
                         "main main main main"
                         "footer footer footer footer";
}
#header{
    grid-area: header;
    background-image: url(../img/photos-by-lanty-O38Id_cyV4M-unsplash\ \(2\).jpg);
    background-size: cover;
    margin-bottom: 35px;
    .fondo__logo {
        position: absolute;
        top: 45%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 20px;
        background-color:rgba(222, 202, 191, 0.9);
        border-radius: 20px;
    }
}

#footer {
    grid-area: footer;
    display: flex;
    align-items: flex-end;
    justify-content: end;
    .copy {
        font-size: 15px;
        display: flex;
        align-items: flex-end;
        align-content: flex-end;
        justify-content: end;
    }    
}
#main {
    grid-area: main;
    .boda{
        display: flex;
        justify-content: space-between;
        background-color: map-get($estiloTexto, fondo );
        .boda__texto {
            text-align: center;
            background-color: map-get($estiloTexto, fondo );
            h2 {
                @include titulo(white, Bebas Neue, 56px, 20px)
            }
            p {
                color: white;
                font-family: map-get($estiloTexto, font );
                font-size: 28px;
            }
            .boda__boton{
                color:#fff;
                white-space: nowrap;
                border: solid #fff;
                font-size: 28px;
                width: auto;
                font-family: Bebas Neue;
                background-color: transparent;
                position: relative;
                margin-top: 30px;
                padding: 8px;
                &:hover{
                    background: #fff;
                    color: rgb(88, 68, 116) ; 
                }
            }
        }
    }
    .cumple {
        display: flex;
        justify-content: space-between;
        background-color: map-get($estiloTexto, fondo );
        margin-top: 35px ;
        .cumple__texto {
            text-align: center;
            background-color: map-get($estiloTexto,fondo );
            width: 450px;
            h3 {
                @include titulo(white, Bebas Neue, 56px, 20px)
            }
            p {
                color: white;
                font-family: map-get($estiloTexto, font );
                font-size: 28px;
            }
            .cumple__boton{
                @extend .boda__boton;
            }
        }
    }
    .quince {
        display: flex;
        justify-content: space-between;
        background-color: map-get($estiloTexto, fondo );
        margin-top: 35px;
        .quince__texto{
            text-align: center;
            position: relative;
            background-color: map-get($estiloTexto, fondo );
            width: 450px;
            h4 {
                @include titulo(white, Bebas Neue, 56px, 20px)
            }
            p {
                color: white;
                font-family: map-get($estiloTexto, font );
                font-size: 28px;
            }
            .quince__boton{
                @extend .boda__boton;
            }
        }       
    }
}
