#body {
    background-color:rgba(222, 202, 191, 0.7);
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: auto 600px auto 100px;
    grid-template-areas: "navbar navbar navbar navbar"
                         "header header header header"
                         "main main main main"
                         "footer footer footer footer";
}

#header{
    grid-area: header;
    background-image: url(../img/photos-by-lanty-O38Id_cyV4M-unsplash\ \(2\).jpg);
    background-attachment: fixed;
    background-size: cover;
    margin-bottom: 35px;
    .fondo__logo {
        position: absolute;
        top: 45%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 20px;
        background-color:rgba(222, 202, 191, 0.9);
        border-radius: 20px;
    }
}


#main {
    grid-area: main;
    .boda{
        display: flex;
        justify-content: space-between;
        background-color: rgb(154, 114, 210);
        .boda__texto {
            text-align: center;
            background: rgb(88,68,166);
            background: linear-gradient(90deg, rgba(88,68,166,1) 0%, rgba(154,114,210,1) 98%, rgba(154,114,210,1) 100%);
            padding: 20px;
            h2 {
                color: #fff;
                font-family: Bebas Neue;
                font-size: 56px;
                padding: 20px;
            }
            p {
                color: white;
                font-family: Montserrat;
                font-size: 28px;
            }
            .boda__boton{
                color:#fff;
                white-space: nowrap;
                border: solid #fff;
                font-size: 28px;
                width: auto;
                font-family: Bebas Neue;
                background-color: transparent;
                position: relative;
                margin-top: 30px;
                padding: 8px;
                &:hover{
                    background: #fff;
                    color: rgb(88, 68, 116) ; 
                }
            }
        }
    }
    .cumple {
        display: flex;
        justify-content: space-between;
        background-color: rgb(154, 114, 210);
        margin-top: 35px ;
        .cumple__texto {
            text-align: center;
            background: rgb(154,114,210);
            background: linear-gradient(90deg, rgba(154,114,210,1) 0%, rgba(154,114,210,1) 2%, rgba(88,68,166,1) 100%);
            padding: 20px;
            h3 {
                color: #fff;
                font-family: Bebas Neue;
                font-size: 56px;
                padding: 20px;
            }
            p {
                color: white;
                font-family: Montserrat;
                font-size: 28px;
            }
            .cumple__boton{
                color:#fff;
                white-space: nowrap;
                border: solid #fff;
                font-size: 28px;
                width: auto;
                font-family: Bebas Neue;
                background-color: transparent;
                position: relative;
                margin-top: 30px;
                padding: 8px;
                &:hover{
                    background: #fff;
                    color: rgb(88, 68, 116) ; 
                }
            }
        }
    }
    .quince {
        display: flex;
        justify-content: space-between;
        background-color: rgb(154, 114, 210);
        margin-top: 35px;
        .quince__texto{
            text-align: center;
            position: relative;
            background: rgb(88,68,166);
            background: linear-gradient(90deg, rgba(88,68,166,1) 0%, rgba(154,114,210,1) 98%, rgba(154,114,210,1) 100%);
            padding: 20px;
            padding-right: 0;
            h4 {
                color: #fff;
                font-family: Bebas Neue;
                font-size: 56px;
                padding: 20px;
            }
            p {
                color: white;
                font-family: Montserrat;
                font-size: 28px;
            }
            .quince__boton{
                color:#fff;
                white-space: nowrap;
                border: solid #fff;
                font-size: 28px;
                width: auto;
                font-family: Bebas Neue;
                background-color: transparent;
                position: relative;
                margin-top: 30px;
                padding: 8px;
                &:hover{
                    background: #fff;
                    color: rgb(88, 68, 116) ; 
                }
            }
        }       
    }
}
