/*Responsive*/
@media(max-width:1200px){
  
}
@media(max-width:992px){

}
@media(max-width:768px){
    /*Hoja Index*/

.fondo__logo {
    display: none
}
div .boda_texto{
    margin-left: 10px;
}
/*Hoja de Contacto*/
.bodyContacto {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: auto 430px auto auto;
}
.mailTelefono{
    width: 278px;
    
}
/*Hoja de Ubicacion*/
#mainUbi{
    margin-right: 80px;
    display:flex ;
    justify-content: center;
    justify-items: center;
    text-align: center;
    .card{
        .pUbi{
            padding: 10px;
        }
    }

}
}
@media(max-width:620px){
    /*Hoja Index*/
.redes{
    display: none;
}
.navbar{
    display: flex;
    justify-content: center;
}
.navbar img {
    margin-right: 60px;
}
.main img {
    width: 560px;
    height: 392px;
}
/*Hoja Contacto*/
#formulario{
    #imagenCon{
        margin-left: 120px;
    
    }
    p{
        text-align: center;
    }
}

#inputText.card-body{
    margin: 0px;
}
.bodyContacto {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: auto 350px auto auto;
}
}
@media(max-width:576px){
    /*Hoja Index*/
.redes {
    display: none;
}
.navbar{
    display: flex;
    justify-content: center;
}
.navbar img {
    margin-right: 60px;
}
.cumple__imagen{
    width: 522px;
    height: 392px;
}
.boda__imagen{
    width: 522px;
    height: 392px;
}
/*Hoja de Contacto*/
.formulario{
    margin-left: 70px;
    margin-right: 70px;
    padding-top: 30px;
}
.bodyContacto {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: auto 370px auto auto;
}
}
@media(max-width:480px){
    /*Hoja Index*/
.logo img{
    margin: 0;
}
.navbar {
    display: flex;
    justify-content: center;
}
.main img {
    margin: 0;
}
.boda__texto{
    margin-right: 15px;
}
.cumple__texto{
    margin-right: 15px;
}
.quince__texto{
    margin-right: 15px;
}
/*Hoja de contacto*/
.formulario{
    padding-top: 20px;
    margin-left: 80px;
    margin-right: 80px;
}
#bodyContacto {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: auto 300px auto auto;
}
}
@media (max-width:320px){
/*Hoja Index*/
.logo img {
    display: none;
}
.navbar{
    height: 50px;
    font-size: 12px;
}

.boda__texto{
    margin-right: 50px;
}
.cumple__texto{
    margin-right: 50px;
}
.quince__texto{
    margin-right: 50px;
}
/*Hoja de Contacto*/
#bodyContacto {
       
    #formulario{
        #imagenCon{
        max-width:150px;
        max-height:150px;
        margin: 10px 75px;
        
        }
        .pCon{
        text-align: center;
        margin: 10px 0px;
         }
        .mailTelefono{
        margin-left: 10px;
        }
    }
}
    

#inputText.card-body{
    margin: 0px;
}
}
/*Hoja de Ubicacion*/
#mainUbi{
    margin-right: 10px;
    margin-left: 0px;

.card{
    margin-right: 40px;
    .h5Ubi{    
    }
    }
}
