/*Responsive*/
@media(max-width:1024px){
    
    .boda{
        img{
            max-width: 550px;
            height: auto;
        }
    }
    .cumple{
        img{
            max-width: 100%;
            height: 100%;
        }
    }
    .quince{
        img{
            max-width: 100%;
            height: 100%;
        }
    }
}
@media(max-width:768px){
    /*Hoja Index*/
    #navbar{
        max-width: 768px;
    }
    #header{
        max-width: 768;
    }
    #body {
        display: grid;
        grid-template-rows: auto 400px auto 100px;
    }
    main{
        img{
            max-width: auto;
        }
        .boda{
            position: relative;
            flex-direction: column;
            img{
                max-width: 100%;
                height: 100%;
            }           
        }
        .cumple{
            position: relative ;
            flex-direction: column-reverse;
            img{
                max-width: 100%;
                height: 100%;
            }
        }
        .quince{
            position: relative;
            flex-direction: column;
            img{
                max-width: 100%;
                height: 100%;
            }
        }

    }
    

/*Hoja de Contacto*/
.bodyContacto {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: auto 430px auto auto;
}
.contactoLateral{
    justify-content: center;
    margin-right: 20px;
    }
    .mailTelefono{
        font-size: 30px;
        
    }
/*Hoja de Ubicacion*/
   
}
@media(max-width:620px){
    /*Hoja Index*/
    #navbar{
        max-width: 620px;
    }
    main{
        .boda{
            position: relative;
            flex-direction: column;
            
        }
        .cumple{
            position: relative ;
            flex-direction: column-reverse;
        }
        .quince{
            position: relative;
            flex-direction: column;
        }

    }
    #footer{
        .copy{
            p{
                font-size: 10px;
            }
        }
        .redes{
            img{
                transform: scale(0.8);
                
            }
        }
    }
/*Hoja Contacto*/
#footer{
    .logoFooter{
        display: none;
    }
}
#formulario{
    #imagenCon{
        margin-left: 120px;
    
    }
    p{
        text-align: center;
    }
}

#inputText.card-body{
    margin: 0px;
}
.bodyContacto {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: auto 350px auto auto;
}
}
@media(max-width:576px){
    /*Hoja Index*/
    #navbar{
        max-width: 576px;
    }
    #header{
        max-width: 576px;
         
    }
/*Hoja de Contacto*/
.formulario{
    margin-left: 70px;
    margin-right: 70px;
    padding-top: 30px;
}
.bodyContacto {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: auto 370px auto auto;
}
}
@media(max-width:480px){
    /*Hoja Index*/
    #navbar{
        max-width: 480px;
    }
    #header{
        max-width: 100%;
    }
    #footer{
        flex-direction: column;
        align-items: center;
        .copy{
            p{
                font-size: 12px;
            }
        
        }
        /*Hoja de contacto*/
        #inputText{
            margin-right: 0px;
        }
        #bodyContacto {
            display: grid;
            grid-template-columns: repeat(4,1fr);
            grid-template-rows: auto 300px auto auto;
        }

}
}
@media (max-width:320px){
/*Hoja Index*/
    #navbar{
        max-width: 320px;
    }
    #header{
        max-width: 320p;
    }
    .quince{
        .quince__texto{
            p{
                padding-right: 20px;
            }
        }
    }

/*Hoja de Contacto*/
#bodyContacto {
       
    #formulario{
        #imagenCon{
        max-width:150px;
        max-height:150px;
        margin: 10px 75px;
        
        }
        .pCon{
        text-align: center;
        margin: 10px 0px;
         }
        .mailTelefono{
        margin-left: 10px;
        }
    }
}
    

#inputText.card-body{
    margin: 0px;
}
}

