#bodyUbicacion {
    background-color:rgba(222, 202, 191, 0.7);
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: auto 400px auto 100px;
    grid-template-areas: "navbar navbar navbar navbar"
                        "headerUbi headerUbi headerUbi headerUbi"
                         "mainUbi mainUbi mainUbi mainUbi"
                         "footer footer footer footer";
}
#navbar{
    grid-area: navbar;
}
#headerUbi{
    grid-area: headerUbi;
    background-image: url(/assets/img/photos-by-lanty-O38Id_cyV4M-unsplash\ \(2\).jpg);
    background-size: cover;
    background-attachment: fixed;
}
#mainUbi{
    grid-area: mainUbi;
}
#footer{
    grid-area: footer;
}
.card{
    display: flex;
    align-items: center;
    border: solid transparent;
    border-radius: 0px;
    .ubi{
    font-size: 140px;
    }
    .h5Ubi{
        margin: 18px;
        font-family: Bebas Neue;
        font-size: 38px;
        text-decoration: underline;
        color: rgb(224, 224, 224);
    }
    span{
        color: #fff;
    }
    .pUbi{
        font-size: 20px;
        padding: 0px 160px;
        color: rgb(224, 224, 224);
        text-align: center;     
    }
}
