@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@500&family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arimo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import "ubicacion";
@import "contacto";
@import "inicio";
@import "casamientos";
@import "cumple";
@import "quince";
@import "media";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
$colorClaro: rgb(222, 202, 191);
$colorOscuro: #827397;
$estiloTexto:(
    color: white,
    font: Arimo,
    fondo: rgb(88, 68, 116),
);

