@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@500&family=Satisfy&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Arimo&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  grid-area: navbar;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  z-index: 1;
}
.navbar #navbarNavUl {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}

.header {
  grid-area: header;
  background-image: url(../img/photos-by-lanty-O38Id_cyV4M-unsplash\ \(2\).jpg);
  background-size: cover;
  margin-bottom: 35px;
}
.header .fondo__logo {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background-color: rgba(222, 202, 191, 0.9);
  border-radius: 20px;
}

.main {
  grid-area: main;
}
.main .boda {
  display: flex;
  background-color: rgb(88, 68, 116);
}
.main .boda .boda__imagen img {
  max-height: auto;
  position: relative;
}
.main .boda .boda__texto {
  text-align: center;
  position: relative;
  justify-content: flex-start;
  background-color: rgb(88, 68, 116);
  width: auto;
  height: auto;
  margin-right: 15px;
}
.main .boda .boda__texto h2 {
  color: white;
  font-family: Bebas Neue;
  font-size: 56px;
  padding: 20px;
}
.main .boda .boda__texto p {
  color: white;
  font-family: Arimo;
  font-size: 28px;
  padding: 15px;
}
.main .boda .boda__texto .boda__boton {
  color: #fff;
  white-space: nowrap;
  border: solid #fff;
  font-size: 28px;
  width: auto;
  font-family: Bebas Neue;
  background-color: transparent;
  position: relative;
  margin-top: 30px;
  padding: 8px;
}
.main .boda .boda__texto .boda__boton:hover {
  background: #fff;
  color: rgb(88, 68, 116);
}
.main .cumple {
  display: flex;
  background-color: rgb(88, 68, 116);
  margin-top: 35px;
}
.main .cumple .cumple__imagen img {
  max-height: auto;
  position: relative;
}
.main .cumple .cumple__texto {
  text-align: center;
  position: relative;
  justify-content: flex-start;
  background-color: rgb(88, 68, 116);
  width: auto;
  height: auto;
  margin-right: 15px;
}
.main .cumple .cumple__texto h3 {
  color: white;
  font-family: Bebas Neue;
  font-size: 56px;
  padding: 20px;
}
.main .cumple .cumple__texto p {
  color: white;
  font-family: Arimo;
  font-size: 28px;
  padding: 15px;
}
.main .cumple .cumple__texto .cumple__boton {
  color: #fff;
  white-space: nowrap;
  border: solid #fff;
  font-size: 28px;
  width: auto;
  font-family: Bebas Neue;
  background-color: transparent;
  position: relative;
  margin-top: 30px;
  padding: 8px;
}
.main .cumple .cumple__texto .cumple__boton:hover {
  background: #fff;
  color: rgb(88, 68, 116);
}
.main .quince {
  display: flex;
  background-color: rgb(88, 68, 116);
  margin-top: 35px;
}
.main .quince .quince__imagen img {
  max-height: auto;
  position: relative;
}
.main .quince .quince__texto {
  text-align: center;
  position: relative;
  justify-content: flex-start;
  background-color: rgb(88, 68, 116);
  width: auto;
  height: auto;
  margin-right: 15px;
}
.main .quince .quince__texto h4 {
  color: white;
  font-family: Bebas Neue;
  font-size: 56px;
  padding: 20px;
}
.main .quince .quince__texto p {
  color: white;
  font-family: Arimo;
  font-size: 28px;
  padding: 15px;
}
.main .quince .quince__texto .quince__boton {
  color: #fff;
  white-space: nowrap;
  border: solid #fff;
  font-size: 28px;
  width: auto;
  font-family: Bebas Neue;
  background-color: transparent;
  position: relative;
  margin-top: 30px;
  padding: 8px;
}
.main .quince .quince__texto .quince__boton:hover {
  background: #fff;
  color: rgb(88, 68, 116);
}

.footer {
  grid-area: footer;
  display: flex;
  align-items: flex-end;
  justify-content: end;
}
.footer .copy {
  font-size: 15px;
  display: flex;
  align-items: flex-end;
  align-content: flex-end;
  justify-content: end;
}

/*Responsive*/
@media (max-width: 768px) {
  /*Hoja Index*/
  .boda__texto {
    height: 350px;
  }

  .boda__imagen {
    height: 392px;
  }

  .cumple__texto {
    height: 350px;
  }

  .cumple__imagen {
    width: 708px;
  }

  .quince__texto {
    height: 350px;
  }

  .quince__imagen {
    height: 392px;
  }

  .body {
    display: grid;
    grid-template-rows: auto 500px auto 100px;
  }

  .fondo {
    position: relative;
    margin-top: 250px;
  }

  .fondo__logo img {
    max-width: 200px;
  }

  /*Hoja de Contacto*/
  .bodyContacto {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto 430px auto auto;
  }
}
@media (max-width: 620px) {
  /*Hoja Index*/
  .redes {
    display: none;
  }

  .navbar {
    display: flex;
    justify-content: center;
  }

  .navbar img {
    margin-right: 60px;
  }

  .main img {
    width: 560px;
    height: 392px;
  }

  /*Hoja Contacto*/
  .info input {
    display: flex;
    justify-content: center;
    font-size: 12px;
  }

  .sexo {
    font-size: 14px;
  }

  .bodyContacto {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto 350px auto auto;
  }
}
@media (max-width: 576px) {
  /*Hoja Index*/
  .redes {
    display: none;
  }

  .navbar {
    display: flex;
    justify-content: center;
  }

  .navbar img {
    margin-right: 60px;
  }

  .cumple__imagen {
    width: 522px;
    height: 392px;
  }

  .boda__imagen {
    width: 522px;
    height: 392px;
  }

  /*Hoja de Contacto*/
  .formulario {
    margin-left: 70px;
    margin-right: 70px;
    padding-top: 30px;
  }

  .bodyContacto {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto 370px auto auto;
  }
}
@media (max-width: 480px) {
  /*Hoja Index*/
  .logo img {
    margin: 0;
  }

  .navbar {
    display: flex;
    justify-content: center;
  }

  .main img {
    margin: 0;
  }

  .boda__texto {
    margin-right: 15px;
  }

  .cumple__texto {
    margin-right: 15px;
  }

  .quince__texto {
    margin-right: 15px;
  }

  /*Hoja de contacto*/
  .formulario {
    padding-top: 20px;
    margin-left: 80px;
    margin-right: 80px;
  }

  .bodyContacto {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto 300px auto auto;
  }
}
@media (max-width: 320px) {
  /*Hoja Index*/
  .logo img {
    display: none;
  }

  .navbar {
    height: 50px;
    font-size: 12px;
  }

  .boda__texto {
    margin-right: 50px;
  }

  .cumple__texto {
    margin-right: 50px;
  }

  .quince__texto {
    margin-right: 50px;
  }

  /*Hoja de Contacto*/
  .formulario {
    margin-left: 30px;
    margin-right: 30px;
  }
}
.body {
  background-color: rgba(222, 202, 191, 0.7);
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto 700px auto auto;
  grid-template-areas: "navbar navbar navbar navbar" "header header header header" "main main main main" "footer footer footer footer";
}

/* Hoja de Contacto */
#bodyContacto {
  background-color: rgba(222, 202, 191, 0.7);
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto 600px auto auto;
  grid-template-areas: "navbarCon navbarCon navbarCon navbarCon" "headerCon headerCon headerCon headerCon" "mainCon mainCon mainCon mainCon" "footerCon footerCon footerCon footerCon";
}

#navbarCon {
  grid-area: navbarCon;
}

#headerCon {
  grid-area: headerCon;
  background-image: url(../img/photos-by-lanty-O38Id_cyV4M-unsplash\ \(2\).jpg);
  background-size: cover;
}

#mainCon {
  grid-area: mainCon;
}

#footerCon {
  grid-area: footerCon;
}

#bodyContacto {
  background-color: rgba(222, 202, 191, 0.7);
}

div.card {
  background-color: #827397;
}

/*Hoja Ubicacion*/
#bodyUbicacion {
  background-color: rgba(222, 202, 191, 0.7);
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto 600px auto auto;
  grid-template-areas: "navbarUbi navbarUbi navbarUbi navbarUbi" "headerUbi headerUbi headerUbi headerUbi" "mainUbi mainUbi mainUbi mainUbi" "footerUbi footerUbi footerUbi footerUbi";
}

#navbarUbi {
  grid-area: navbarUbi;
}

#headerUbi {
  grid-area: headerUbi;
  background-image: url(/assets/img/photos-by-lanty-O38Id_cyV4M-unsplash\ \(2\).jpg);
  background-size: cover;
  background-attachment: fixed;
}

#mainUbi {
  grid-area: mainUbi;
}

#footerUbi {
  grid-area: footerUbi;
}

#textoMapa i {
  font-size: 100px;
}/*# sourceMappingURL=style.css.map */