@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@500&family=Satisfy&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Arimo&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");
#bodyUbicacion {
  background-color: rgba(222, 202, 191, 0.7);
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto 400px auto 100px;
  grid-template-areas: "navbar navbar navbar navbar" "headerUbi headerUbi headerUbi headerUbi" "mainUbi mainUbi mainUbi mainUbi" "footer footer footer footer";
}

#navbar {
  grid-area: navbar;
}

#headerUbi {
  grid-area: headerUbi;
  background-image: url(/assets/img/photos-by-lanty-O38Id_cyV4M-unsplash\ \(2\).jpg);
  background-size: cover;
  background-attachment: fixed;
}

#mainUbi {
  grid-area: mainUbi;
}

#footer {
  grid-area: footer;
}

.cardUbi {
  display: flex;
  align-items: center;
  border: solid 0px transparent;
  border-radius: 0px;
  flex-direction: column;
  background: rgb(130, 115, 151);
  background: linear-gradient(331deg, rgb(130, 115, 151) 0%, rgb(88, 68, 166) 23%);
}
.cardUbi .ubi {
  font-size: 140px;
}
.cardUbi .h5Ubi {
  margin: 18px;
  font-family: Bebas Neue;
  font-size: 38px;
  text-decoration: underline;
  color: rgb(224, 224, 224);
  text-align: center;
}
.cardUbi span {
  color: #fff;
}
.cardUbi .pUbi {
  font-size: 20px;
  color: rgb(224, 224, 224);
  text-align: center;
}

#bodyContacto {
  background-color: rgba(222, 202, 191, 0.7);
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto 600px auto 100px;
  grid-template-areas: "navbar navbar navbar navbar" "headerCon headerCon headerCon headerCon" "mainCon mainCon mainCon mainCon" "footer footer footer footer";
}

#headerCon {
  grid-area: headerCon;
  background-image: url(../img/photos-by-lanty-O38Id_cyV4M-unsplash\ \(2\).jpg);
  background-size: cover;
  background-attachment: fixed;
}

#navbar {
  grid-area: navbar;
}

#mainCon {
  grid-area: mainCon;
}

#footer {
  grid-area: footer;
}

#bodyContacto {
  background-color: rgba(222, 202, 191, 0.7);
}

.contact-wrapper {
  box-shadow: 0 0 20px 0 rgba(255, 255, 255, 0.3);
  padding: 16px;
}
.contact-wrapper .contact-form {
  background: rgb(88, 68, 166);
  background: linear-gradient(90deg, rgb(88, 68, 166) 0%, rgb(154, 114, 210) 98%, rgb(154, 114, 210) 100%);
}
.contact-wrapper .contact-form .tituloCon {
  color: #fff;
  text-align: center;
  padding: 20px;
  font-family: Bebas Neue;
  font-size: 40px;
}
.contact-wrapper .contact-form .datos label {
  display: block;
  color: #fff;
}
.contact-wrapper .contact-form .datos p {
  margin: 0;
  padding: 16px;
  color: #fff;
}
.contact-wrapper .contact-form .datos .block {
  grid-column: 1/3;
}
.contact-wrapper .contact-form .datos button, .contact-wrapper .contact-form .datos input, .contact-wrapper .contact-form .datos textarea {
  width: 100%;
  padding: 11.2px;
  border: none;
  background: none;
  outline: 0;
  color: #fff;
  border-bottom: 1px solid #fff;
}
.contact-wrapper .contact-form .datos button {
  border: 0;
  text-transform: uppercase;
  padding: 16px;
  text-transform: uppercase;
  color: #fff;
  border: solid #fff;
  font-size: 28px;
  font-family: Bebas Neue;
  background-color: transparent;
  position: relative;
}
.contact-wrapper .contact-form .datos button:hover {
  background: #fff;
  color: rgb(88, 68, 116);
}
.contact-wrapper .contact-info {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: #000;
}
.contact-wrapper .contact-info h4 {
  text-align: center;
  color: #fff;
  font-size: 40px;
  font-family: Bebas Neue;
}
.contact-wrapper .contact-info p {
  text-align: center;
  margin: 0 0 16 0;
  color: #fff;
  font-size: 20px;
}
.contact-wrapper .contact-info ul {
  font-size: 20px;
  list-style: none;
  padding: 0;
  text-align: center;
  margin: 0 0 16 0;
  color: #fff;
}
.contact-wrapper .contact-info ul a {
  text-decoration: none;
  color: #fff;
}
.contact-wrapper .contact-info ul a:hover {
  font-weight: bold;
}

#body {
  background-color: rgba(222, 202, 191, 0.7);
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto 600px auto 100px;
  grid-template-areas: "navbar navbar navbar navbar" "header header header header" "main main main main" "footer footer footer footer";
}

#header {
  grid-area: header;
  background-image: url(../img/photos-by-lanty-O38Id_cyV4M-unsplash\ \(2\).jpg);
  background-size: cover;
  margin-bottom: 35px;
}
#header .fondo__logo {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background-color: rgba(222, 202, 191, 0.9);
  border-radius: 20px;
}

#main {
  grid-area: main;
}
#main .boda {
  display: flex;
  justify-content: space-between;
  background-color: rgb(154, 114, 210);
}
#main .boda .boda__texto {
  text-align: center;
  background: rgb(88, 68, 166);
  background: linear-gradient(90deg, rgb(88, 68, 166) 0%, rgb(154, 114, 210) 98%, rgb(154, 114, 210) 100%);
  padding: 20px;
}
#main .boda .boda__texto h2 {
  color: #fff;
  font-family: Bebas Neue;
  font-size: 56px;
  padding: 20px;
}
#main .boda .boda__texto p {
  color: white;
  font-family: Montserrat;
  font-size: 28px;
}
#main .boda .boda__texto .boda__boton {
  color: #fff;
  white-space: nowrap;
  border: solid #fff;
  font-size: 28px;
  width: auto;
  font-family: Bebas Neue;
  background-color: transparent;
  position: relative;
  margin-top: 30px;
  padding: 8px;
}
#main .boda .boda__texto .boda__boton:hover {
  background: #fff;
  color: rgb(88, 68, 116);
}
#main .cumple {
  display: flex;
  justify-content: space-between;
  background-color: rgb(154, 114, 210);
  margin-top: 35px;
}
#main .cumple .cumple__texto {
  text-align: center;
  background: rgb(154, 114, 210);
  background: linear-gradient(90deg, rgb(154, 114, 210) 0%, rgb(154, 114, 210) 2%, rgb(88, 68, 166) 100%);
  padding: 20px;
}
#main .cumple .cumple__texto h3 {
  color: #fff;
  font-family: Bebas Neue;
  font-size: 56px;
  padding: 20px;
}
#main .cumple .cumple__texto p {
  color: white;
  font-family: Montserrat;
  font-size: 28px;
}
#main .cumple .cumple__texto .cumple__boton {
  color: #fff;
  white-space: nowrap;
  border: solid #fff;
  font-size: 28px;
  width: auto;
  font-family: Bebas Neue;
  background-color: transparent;
  position: relative;
  margin-top: 30px;
  padding: 8px;
}
#main .cumple .cumple__texto .cumple__boton:hover {
  background: #fff;
  color: rgb(88, 68, 116);
}
#main .quince {
  display: flex;
  justify-content: space-between;
  background-color: rgb(154, 114, 210);
  margin-top: 35px;
}
#main .quince .quince__texto {
  text-align: center;
  position: relative;
  background: rgb(88, 68, 166);
  background: linear-gradient(90deg, rgb(88, 68, 166) 0%, rgb(154, 114, 210) 98%, rgb(154, 114, 210) 100%);
  padding: 20px;
  padding-right: 0;
}
#main .quince .quince__texto h4 {
  color: #fff;
  font-family: Bebas Neue;
  font-size: 56px;
  padding: 20px;
}
#main .quince .quince__texto p {
  color: white;
  font-family: Montserrat;
  font-size: 28px;
}
#main .quince .quince__texto .quince__boton {
  color: #fff;
  white-space: nowrap;
  border: solid #fff;
  font-size: 28px;
  width: auto;
  font-family: Bebas Neue;
  background-color: transparent;
  position: relative;
  margin-top: 30px;
  padding: 8px;
}
#main .quince .quince__texto .quince__boton:hover {
  background: #fff;
  color: rgb(88, 68, 116);
}

#bodyCas {
  background-color: rgba(222, 202, 191, 0.7);
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto 500px auto 100px;
  grid-template-areas: "navbar navbar navbar navbar" "headerCas headerCas headerCas headerCas" "mainCas mainCas mainCas mainCas" "footer footer footer footer";
}

#navbar {
  grid-area: navbar;
}

#headerCas {
  grid-area: headerCas;
  background-image: url(/assets/img/photos-by-lanty-O38Id_cyV4M-unsplash\ \(2\).jpg);
  background-size: cover;
  background-attachment: fixed;
}

#mainCas {
  grid-area: mainCas;
}

#footer {
  grid-area: footer;
}

.cotiza {
  display: block;
  position: absolute;
  top: 30%;
  text-align: start;
  width: auto;
  border-radius: 15px;
  background: rgb(154, 114, 210);
  background: linear-gradient(90deg, rgba(154, 114, 210, 0.7) 0%, rgba(154, 114, 210, 0.7) 2%, rgba(88, 68, 166, 0.7) 100%);
}
.cotiza .tituloEven {
  font-size: 45px;
  font-family: Anton;
  color: #fff;
}
.cotiza .botonEven {
  color: #fff;
  white-space: nowrap;
  border: solid 1px #fff;
  font-size: 23px;
  margin-top: 12px;
  font-weight: lighter;
  width: auto;
  font-family: Bebas Neue;
  background-color: transparent;
  padding: 8px;
}
.cotiza .botonEven:hover {
  background: #fff;
  color: rgb(88, 68, 116);
}

.rectangulo1 {
  margin-top: 30px;
  background: rgb(154, 114, 210);
  background: linear-gradient(90deg, rgb(154, 114, 210) 0%, rgb(154, 114, 210) 2%, rgb(88, 68, 166) 100%);
  display: flex;
  flex-direction: column;
}
.rectangulo1 .subtituloEven {
  color: #fff;
  font-family: Bebas Neue;
  font-size: 50px;
  padding: 20px;
  text-align: center;
}
.rectangulo1 .parraEven {
  padding: 20px;
  font-family: Arimo;
  font-size: 25px;
  color: #fff;
  text-align: center;
}

.rectanguloImagen {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 550px;
  background-image: url(../img/people-g8816df98f_1920\ \(1\).jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.rectanguloImagen .imagenTexto {
  text-align: center;
  color: #fff;
}
.rectanguloImagen .imagenTexto .tituloImagen {
  font-family: Bebas Neue;
  font-size: 50px;
  padding: 15px;
}
.rectanguloImagen .imagenTexto .parrafoImagen {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 20px;
  padding: 15px;
}

.rectanguloImagenDos {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(154, 114, 210);
  background: linear-gradient(90deg, rgb(154, 114, 210) 0%, rgb(154, 114, 210) 2%, rgb(88, 68, 166) 100%);
}
.rectanguloImagenDos .imagenTextoDos {
  text-align: center;
  margin: 20px;
}
.rectanguloImagenDos .imagenTextoDos .tituloImagenDos {
  font-family: Bebas Neue;
  font-size: 50px;
  padding: 15px;
  color: #fff;
}
.rectanguloImagenDos .imagenTextoDos .parrafoImagenDos {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 20px;
  padding: 15px;
  color: #fff;
  list-style: none;
}
.rectanguloImagenDos .imagenTextoDos .parrafoImagenDos li {
  padding-top: 20px;
  text-decoration-line: underline;
}
.rectanguloImagenDos .imagenTextoDos .imagenDosRecDos img {
  max-width: 100%;
  height: auto;
}

#bodyCump {
  background-color: rgba(222, 202, 191, 0.7);
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto 500px auto 100px;
  grid-template-areas: "navbar navbar navbar navbar" "headerCump headerCump headerCump headerCump" "mainCump mainCump mainCump mainCump" "footer footer footer footer";
}

#navbar {
  grid-area: navbar;
}

#headerCump {
  grid-area: headerCump;
  background-image: url(/assets/img/photos-by-lanty-O38Id_cyV4M-unsplash\ \(2\).jpg);
  background-size: cover;
  background-attachment: fixed;
}

#mainCump {
  grid-area: mainCump;
}

#footer {
  grid-area: footer;
}

#bodyQuin {
  background-color: rgba(222, 202, 191, 0.7);
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto 500px auto 100px;
  grid-template-areas: "navbar navbar navbar navbar" "headerQuin headerQuin headerQuin headerQuin" "mainQuin mainQuin mainQuin mainQuin" "footer footer footer footer";
}

#navbar {
  grid-area: navbar;
}

#headerQuin {
  grid-area: headerQuin;
  background-image: url(/assets/img/photos-by-lanty-O38Id_cyV4M-unsplash\ \(2\).jpg);
  background-size: cover;
  background-attachment: fixed;
}

#mainQuin {
  grid-area: mainQuin;
}

#footer {
  grid-area: footer;
}

/*Responsive*/
@media (max-width: 1024px) {
  .boda img {
    max-width: 550px;
    height: auto;
  }
  .cumple img {
    max-width: 100%;
    height: 100%;
  }
  .quince img {
    max-width: 100%;
    height: 100%;
  }
}
@media (max-width: 768px) {
  /*Hoja Index*/
  #navbar {
    max-width: 768px;
  }
  #header {
    max-width: 768;
  }
  #body {
    display: grid;
    grid-template-rows: auto 400px auto 100px;
  }
  main img {
    max-width: auto;
  }
  main .boda {
    position: relative;
    flex-direction: column;
  }
  main .boda img {
    max-width: 100%;
    height: 100%;
  }
  main .cumple {
    position: relative;
    flex-direction: column-reverse;
  }
  main .cumple img {
    max-width: 100%;
    height: 100%;
  }
  main .quince {
    position: relative;
    flex-direction: column;
  }
  main .quince img {
    max-width: 100%;
    height: 100%;
  }
  /*Hoja de Contacto*/
  .bodyContacto {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto 430px auto auto;
  }
  .contactoLateral {
    justify-content: center;
    margin-right: 20px;
  }
  .mailTelefono {
    font-size: 30px;
  }
  /*Hoja de Ubicacion*/
}
@media (max-width: 620px) {
  /*Hoja Index*/
  #navbar {
    max-width: 620px;
  }
  main .boda {
    position: relative;
    flex-direction: column;
  }
  main .cumple {
    position: relative;
    flex-direction: column-reverse;
  }
  main .quince {
    position: relative;
    flex-direction: column;
  }
  #footer .copy p {
    font-size: 10px;
  }
  #footer .redes img {
    transform: scale(0.8);
  }
  /*Hoja Contacto*/
  #footer .logoFooter {
    display: none;
  }
  #formulario #imagenCon {
    margin-left: 120px;
  }
  #formulario p {
    text-align: center;
  }
  #inputText.card-body {
    margin: 0px;
  }
  .bodyContacto {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto 350px auto auto;
  }
}
@media (max-width: 576px) {
  /*Hoja Index*/
  #navbar {
    max-width: 576px;
  }
  #header {
    max-width: 576px;
  }
  /*Hoja de Contacto*/
  .formulario {
    margin-left: 70px;
    margin-right: 70px;
    padding-top: 30px;
  }
  .bodyContacto {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto 370px auto auto;
  }
}
@media (max-width: 480px) {
  /*Hoja Index*/
  #navbar {
    max-width: 480px;
  }
  #header {
    max-width: 100%;
  }
  #footer {
    flex-direction: column;
    align-items: center;
    /*Hoja de contacto*/
  }
  #footer .copy p {
    font-size: 12px;
  }
  #footer #inputText {
    margin-right: 0px;
  }
  #footer #bodyContacto {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto 300px auto auto;
  }
}
@media (max-width: 320px) {
  /*Hoja Index*/
  #navbar {
    max-width: 320px;
  }
  #header {
    max-width: 320p;
  }
  .quince .quince__texto p {
    padding-right: 20px;
  }
  /*Hoja de Contacto*/
  #bodyContacto #formulario #imagenCon {
    max-width: 150px;
    max-height: 150px;
    margin: 10px 75px;
  }
  #bodyContacto #formulario .pCon {
    text-align: center;
    margin: 10px 0px;
  }
  #bodyContacto #formulario .mailTelefono {
    margin-left: 10px;
  }
  #inputText.card-body {
    margin: 0px;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#navbar .dropdown-menu {
  background: rgb(255, 255, 255);
  background: linear-gradient(90deg, rgba(222, 202, 191, 0.8) 0%, rgba(154, 114, 210, 0.8) 31%, rgba(88, 68, 166, 0.8) 80%);
  border: none;
}
#navbar .navbar-toggler {
  border-color: rgba(88, 68, 166, 0);
}
#navbar .navbar-toggler:focus,
#navbar .navbar-toggler:active,
#navbar .navbar-toggler-icon:focus {
  outline: none;
  box-shadow: none;
}
#navbar .navbar-brand:hover {
  transition: 1s;
  transform: scale(1.2);
}
#navbar ul li a:hover {
  background-color: transparent;
  font-weight: bold;
}

#footer {
  grid-area: footer;
  display: flex;
  align-items: center;
}
#footer .copy {
  font-size: 15px;
  font-family: Arimo;
  text-align: center;
}
#footer .redes {
  display: flex;
  justify-content: center;
}
#footer .redes .twitter img:hover {
  opacity: 0;
}
#footer .redes .twitter:hover {
  background-image: url(../img/logoTwitterColor.png);
}
#footer .redes .insta img:hover {
  opacity: 0;
}
#footer .redes .insta:hover {
  background-image: url(../img/logoInstaColor.png);
}
#footer .redes .facebook img:hover {
  opacity: 0;
}
#footer .redes .facebook:hover {
  background-image: url(../img/logoFacebookColor.png);
}
#footer .logoFooter {
  transform: scale(0.3);
}
#footer .logoFooter:hover {
  transition: 0.5s;
  transform: scale(32%);
}

#header {
  margin: 0px 0px 35px 0px;
}/*# sourceMappingURL=style.css.map */